body {

    background-color: #D5EEBB;
    margin: 0 0 0 2px;
}

.navigation {
    /* background-color: aqua; */
    text-align: center;
    /* max-width: fit-content; */
    /* display: flex; */
    background-color: black;
    color: #D5EEBB;
    margin-top: 0;
    width: 100%;



}

.navigation h1 {
    margin: 0;
}

.container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.line {
    border: 1px solid black;
}

.name {
    background-color: #433466;
    border-radius: 10px;
    color: whitesmoke;
}


.brew-info {
    background-color: #E7E0C9;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    gap: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 10px;
    box-shadow: 5px 10px 18px #888888;
    transition: transform(3s);
    padding: 10px;
    font-family: 'Quantico',
        sans-serif;



}

.brew-info:hover {
    background-color: #D19FEB;
    transform: scale(1.1);

}